
<nav>
    <ul id="navbar" class = "navbar">
      <li> <a href="">About</a></li>
      <li> <a href="">Expériences</a></li>
      <li> <a href="">Formations</a></li>
      <li> <a href="">Contact</a></li>
    </ul>  
</nav>